body{
			height: 100%;
			margin: 0;
			background-image: url("https://media3.giphy.com/media/RSZI67yZwYsxi/giphy.gif");
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
			
			

		}
		html{
			height: 100%;
			margin: 0;
		}






        

		h1{
			text-align: center;
			font-size: 45px;
			background-color: blue;
			color: white;
		}
		ul {
			overflow: hidden;
			background-color: LightGrey;
			
            display: block;
    		text-align: center;
    		padding: 15px 17px;
    		text-decoration: none;
    		font-size: 20px;
    		list-style-type: none;
		}
		li{
			display: inline;
		}

		p{
			text-align: center;
			font-size: 35px;
			text-shadow: 2px 2px 2px blue;

		}
		a{
			font-size: 20px;
			text-align: right;
		}